body{
    background-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 0;
}

#home{
    display: flex;
    justify-content: unset;
    padding: 1%;
}

.homeElementos1{
    color: #a02bff;
    text-align: center;
    padding: 1.5% 1% 1% 1%;
    margin-right: 1%;
}

h1{
    font-family: Bookman, URW Bookman L, serif;
    font-weight: 900;
    font-size: 0.7cm;
}

.homeElementos2{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 3% 0% 0% 0%;
}

.homeElementos3{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1% 1% 1% 1%;
    margin-top: 0.5%;
}

#introducao{
    background-color: #a02bff;
    padding: 0% 2% 2% 2%;
}

#noticias{
    color: rgb(0, 0, 0);
    padding: 2% 3% 5% 3%;
}

#informacoes{
    background-color:#a02bff;
    padding: 3%;
    
}

h3{
    color:  #a02bff;
    margin-top: 3%;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: unset;
}